<div class="container-fluid">
<h1 align='center' class='text-primary'>Editing Meal</h1>

<%= render 'form', recipe: @recipe %>

<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>

</div>