	  	<div class="panel panel-primary">
	  	<div class="panel-heading text-center">Food Name</div>
	  	<table class = "table">
	  		<tr>
	  			<td>
	  				<div class="text-center list-group-item-info">Upstairs Freezer</div>
	  				<div class="text-center panel-body"> Quantity
	  					<div class="pull-right btn-group btn-group-xs" role="group">
  							<button type="button" class="glyphicon glyphicon-arrow-up"></button>
  							<button type="button" class="glyphicon glyphicon-arrow-down"></button>
						</div>
	  				</div>
	  			</td>
	  			<td>
	  				<div class="text-center list-group-item-info">Downstairs Freezer</div>
	  				<div class="text-center panel-body"> Quantity
	  					<div class="pull-right btn-group btn-group-xs" role="group">
  							<button type="button" class="glyphicon glyphicon-arrow-up"></button>
  							<button type="button" class="glyphicon glyphicon-arrow-down"></button>
						</div>
	  				</div>
	  			</td>
	  	</tr>
	  	</table>
	  	</div>