/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

.glyphicon-white-spaced {
  padding-left: 20px;
  color: white;
}
.glyphicon-black-spaced {
	padding-left: 20px;
	color: black;
  }
.glyphicon-margin {
  padding-left: 5px;
}
.panel-ann-unsafe {
  border-color: rgb(243, 77, 0);
}
.panel-ann-unsafe > .panel-heading {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 182, 148);
  border-color: rgb(243, 77, 0);
}
.panel-ann-unsafe > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: rgb(243, 77, 0);
}
.panel-ann-unsafe > .panel-heading .badge {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 182, 148);
}
.panel-ann-unsafe > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: rgb(243, 77, 0);
}
.panel-relative{
  position: relative;
}
.icon-right{
  position: absolute;
  right: 15px;
}
.icon-rightish{
  position: absolute;
  right: 40px;
}
