<nav class="navbar">
    <div class="container-fluid">
        <%= button_to "Delete all counts", remove_all_counts_recipes_path,
        data: { confirm: "Are you sure you want to clear all counts?"}, 
        class: "btn btn-danger navbar-btn float:right" %>
    </div>
</nav>
